<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- Servlets -->
	<servlet>
		<servlet-name>userRegistration</servlet-name>
		<servlet-class>servlet.communication.UserRegistrationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userRegistration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>initS</servlet-name>
		<servlet-class>jdPack.InitServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>initS</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>jdPack.HomeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Search</servlet-name>
		<servlet-class>jdPack.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchPlan</servlet-name>
		<servlet-class>jdPack.SearchPlanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchPlan</servlet-name>
		<url-pattern>/searchPlan</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SearchExercise</servlet-name>
		<servlet-class>jdPack.SearchExerciseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchExercise</servlet-name>
		<url-pattern>/searchExercise</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Sports</servlet-name>
		<servlet-class>jdPack.SportsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Sports</servlet-name>
		<url-pattern>/sports</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>jdPack.ConnexionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InitSports</servlet-name>
		<servlet-class>jdPack.InitSports</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitSports</servlet-name>
		<url-pattern>/initSports</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddTraining</servlet-name>
		<servlet-class>jdPack.AddTrainingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddTraining</servlet-name>
		<url-pattern>/addTraining</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TrainingQueue</servlet-name>
		<servlet-class>jdPack.TrainingQueueServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TrainingQueue</servlet-name>
		<url-pattern>/trainingQueue</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewsRSS</servlet-name>
		<servlet-class>jdPack.NewsRSSServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NewsRSS</servlet-name>
		<url-pattern>/newsRSS</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>form.html</welcome-file>
	</welcome-file-list>
</web-app>
