.btn-social-icon {
	color: white;
	font-weight: bold;
}

.btn-google-plus {
	background-color: #DD4B39;
}

.btn-yahoo {
	background-color: #720E9E;
}

.btn-openid {
	background-color: #F7931E;
}

#results {
	margin-top: -50px;
}

#results label {
	margin-left: 20px;
}

h4 {
	margin-left:40px;
}

#plans-results, #exercises-results {
	margin-left:80px;
}

html {
	height: 180%;
}

.Bandeau {
	width: 100%;
	background-color: grey;
	margin-top: 10%;
	height: 21%;
}

.ContenuBandeau {
	padding-top : 1%;
	margin-left: 31%;
}

.TexteAccueil {
	padding-top : 3%;
}

.BoutonAccueil {
	padding-top: 6%;
}